<h1 class=" bck d-flex justify-content-center">

    <marquee>
        <h3>LATEST LAUNCHES&nbsp;&nbsp;&nbsp; + &nbsp; &nbsp;&nbsp; PREMIUM FINDS &nbsp;&nbsp;&nbsp; +
            &nbsp;&nbsp;&nbsp; 100% GENUINE BRANDS &nbsp;&nbsp;&nbsp; </h3>
    </marquee>
</h1>

<div class="d-flex justify-content-center"> <h1> <u> Shop Here....</u> </h1></div>

<div>
    <h1>  


&nbsp;

    </h1>
</div>

<div class="container-fluid">
    <div class="row">



        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <img src="https://ktusu.in/cdn/shop/files/3-in-1-metal-camera-frame-matte-tpu-phone-back-case-cover-for-apple-iphone-cases-covers-30212018995300.jpg?v=1700572950"
                        alt="" height="300dvh" class="card-img-top">
                </div>
                <div class="card-body">
                    <h1 class="bg-black text-white"> Mobile Cases</h1>
                </div>
                <div class="card-footer">

                   

                </div>
            </div>
        </div>



        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/battery-charger/f/5/7/65w-vooc-flash-dart-wrap-6a-adapter-for-oneplus-nord-ce-2-lite-original-imagvtsn5nsktpvv.jpeg?q=70"
                        alt="" height="300dvh" class="card-img-top">
                </div>
                <div class="card-body">


                    <h1 class="bg-black text-white"> Mobile Chargers</h1>
                </div>
                <div class="card-footer">


                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <img src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/b/g/bgsgfgtg_ga244g_2_ecommerce_b6ab.png"
                        alt="" height="300dvh" class="card-img-top">
                </div>
                <div class="card-body">


                    <h1 class="bg-black text-white">ScreenGuards</h1>
                </div>
                <div class="card-footer">


                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/mobile-holder/w/e/d/stand-universal-mobile-holder-black-expro-no-original-imagqef8g2c9mph3.jpeg?q=70"
                               alt="" height="300dvh" class="card-img-top">
                </div>
                <div class="card-body">
                    <h1 class="bg-black text-white"> Mobile Holders</h1>
                </div>
                <div class="card-footer">

                   
                </div>
            </div>
        </div>




    </div>

</div>













<footer>
    <div style="background-color:rgb(2, 25, 47)">
        <div class="container">

            <div class="row p-0 pt-5">
                <div class="col-md-3 p-0 text-white">
                    <h5 class="p-0"></h5>

                    <br>

                    <iframe width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>


                </div>
                <div class="col-md-3 p-0 text-white">
                    <h5>Contact Us</h5>

                    <p> Customer Support:

                        Visit the  Mobiekart website: https://www.Mobiekart.com/
                        Scroll down to the bottom of the page.
                        Look for a "Help" or "Contact Us" link. Click on it. </p>



                    Contact Information:
                    <h3>Mobiekart.com</h3>

                    <br>











                </div>
                <div class="col-md-2 p-0 text-white">
                    Terms & Conditions<br>
                    360° Virtual Tour<br>
                    Privacy Policy<br>
                    Contact Us<br>
                    About Us<br>
                    Careers<br>
                    Sitemap<br>
                    Blog
                </div>
                <div class="col-md-2 p-0 text-white">
                    Signup for our<br>newsletter
                    <br><br>
                    <label for="" style="color: white;">Email id:</label>
                    <input type="email" name="" id="">
                </div>
                <div class="col-md-2 p-0 text-white">
                    <i class="fa-brands fa-facebook" style="color: white;"></i>
                    <i class="fa-brands fa-twitter" style="color: white;"></i>
                    <i class="fa-brands fa-instagram" style="color: white;"></i>
                </div>
            </div>

            <div class="row">
                <hr style="color: white;">
            </div>

            <div class="row">
                <p class="d-flex justify-content-center text-white">2023 Mobiekart, Inc. All Rights Reserved.</p>
            </div>

            <div class="row">
                <br>
            </div>
            <!-- <div class="row">
               <br>
            </div> -->


        </div>



    </div>

</footer>