
<div class="back">
    
<div class="container  jj  " >
<div class="container p-6  ">

    <h5>We Are Ready To Deliver Your Orders</h5>
    
    <div class="form-group">
        <label for="" class="form-label">username</label>
        <input type="text" class="form-control" [(ngModel)]="uname" pattern="[a-zA-Z@.]">
    </div>
    <div class="form-group">
        <label for="" class="form-label">password</label>
        <input  type="text" class="form-control" [(ngModel)]="pwd">
    </div>
    <div class="form-group">
        <button class="btn btn-success m-3" (click)="Logincheck()">login</button>
        <button class="btn btn-danger ">cancel</button>
    </div>
</div>


